<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>블로그 글</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->

</head>
<body>
  <div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">이재현의 Toy Project</h1>
    <h4 class="mb-3">게을러질 수 없는 시대에요 여러분</h4>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-8">
        <article>
          <input type="hidden" id="article-id" th:value="${article.id}">
          <header class="mb-4">
            <h1 class="fw-bolder mb-1" th:text="${article.title}"></h1>
            <div class="text-muted fst-italic mb-2" th:text="|Posted on ${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')} |"></div>
          </header>
          <section class="mb-5">
            <p class="fs-5 mb-4" th:text="${article.content}"></p>
          </section>
          <button type="button" id="modify-btn"
                  th:onclick="|location.href='@{/new-article?id={articleId}(articleId=${article.id})}'|"
                  class="btn btn-primary btn-sm">수정</button>
          <button type="button" id="delete-btn"
                  class="btn btn-secondary btn-sm">삭제</button>
        </article>
      </div>
    </div>
    <div class ="col-lg-8" th:each = "item : ${comments}">
      <p class="text-muted fst-italic mb-2" th:text="${item.content}"></p>
      <p class="text-muted fst-italic mb-2" th:text="|Posted on ${#temporals.format(item.createdAt, 'yyyy-MM-dd HH:mm')} |"></p>
<!--      댓글 수정, 삭제 버튼 만들어야 함
수정과 삭제에는 comment id만 있으면 됨 -->
      <p>-----</p>
    </div>
  </div>

<!--  댓글 생성 페이지 만들어야 함. 댓글 생성에는 article의 id가 필요함.-->
  <div class="card m-2" id="comments-new">
    <div class="card-body">
      <!-- 댓글 작성 폼 -->
      <form>
          여기에 댓글 달 예정
        <!-- 댓글 본문 입력 -->
        <div class="mb-3">
          <label class="form-label">댓글 내용</label>
          <textarea class="form-control h-25" rows="10" placeholder="내용" id="content" ></textarea>
        </div>
        <!-- 히든 인풋 -->
        <input type="hidden" id="new-comment-article-id" th:value="${article.id}">
        <!-- 전송 버튼 -->
        <button type="button" class="btn btn-primary"
                id="comment-create-btn"
                >댓글 작성</button>
      </form>
    </div>
  </div>




  <script src="/js/article.js"></script>
  <script src="/js/comment.js"></script>
</body>
